#app {
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    position: relative; 
}
#app::before {
    content: "";
    position: absolute;
    inset: 0; 
    
    background-clip: padding-box;
    border-style: solid;
    border-color: var(--bg-card);

    border-top-width: .5rem;
    border-right-width: .5rem;
    border-bottom-width: .5rem;
    border-left-width: 4rem;
    
    pointer-events: none;
}
.container-content-main{
   width: 100%;
   height: 100dvh;
   border: solid var(--bg-card) .5rem; 
   border-radius: 1.5rem;
   grid-area: 1 / 2 / 2 / 3; 
   flex-direction: column;
}
.container-content-main h1{ 
   font-size: clamp(1.3rem, 1vw, 2.3rem); 
   background: var(--color-linear-gradient);
   background-clip: text;
   -webkit-text-fill-color: transparent;
   display: flex;
   gap: .5rem;   

}