.card-cryptocurrency-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  background: var(--bg-card);
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: inset 0 0 10px;
}
.card, .graphic{ z-index: 1; }
.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.card img {
  width: clamp(2rem, 20vw, 4.5rem);
  grid-area: 1 / 1 / 2 / 2;
  animation: animaImg  2s ease-in-out infinite;
}
@keyframes animaImg {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}
.card-cryptocurrency-data::before {
  content: "";
  position: absolute;
  background: var(--color-linear-gradient);
  height: 100%;
  width: 7rem;
  filter: blur(3rem); 
  animation: animaBackgroundBefore 2s ease-in-out infinite; 
}
@keyframes animaBackgroundBefore {
  0%, 100% { width: 6rem; opacity: 0.7; }
  50% { width: 8rem;  opacity: 1; }
}
.preview-of-information {
  grid-area: 1 / 2 / 2 / 3;
  z-index: 1;
  text-align: center;
  flex-direction: column;
  gap: 1rem 0;
}
.preview-of-information h4{ font-size: 1.4rem; }
.preview-of-information span{ font-size: 1rem; }

.graphic {
  border-radius: .5rem;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 10px;
  grid-area: 1 / 1 / 2 / 2;
}