.dashboard-graphics {
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  align-items: center;
  gap: 0.5rem;
  max-width: 1500px;
  width: 100%;
}
.container-top10-current{
  width: 95%;
  margin: 0 auto;
}
.container-top10-current {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
@media screen and (orientation: landscape) and (max-height: 1180px) {
  .container-top10-current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
