.dashboard-graphics {
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  align-items: center;
  gap: 0.5rem;
  max-width: 1300px;
  width: 100%;
}
.container-top10-current, .container-graph-of-value-variation{
  width: 95%;
  margin: 0 auto;
}
.container-top10-current {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.container-graph-of-value-variation { height: 19rem; border-radius: 1rem;}
.container-graphical {
  border-radius: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 10px;
  grid-area: 1 / 1 / 2 / 2;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard-graphics {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 0.5rem;
  }
  .container-top10-current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (orientation: landscape) and (max-height: 1180px) {
  .container-top10-current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
