.dashboard-graphics {
  border-radius: 1rem;
  overflow: scroll;
  gap: .5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  align-content: start;
}
.container-top10-current{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
}
.container-graph-of-value-variation{
  border-radius: 1rem;
}
.container-compare-coin{
  border-radius: 1rem;
  box-shadow: inset 0 0 10px;
  padding: 1rem;
}
.container-compare-coin span{
  background: var(--bg-card);
  border: solid var(--bg-card);
  text-align: center;
  padding: .3rem;
  border-radius: .5rem;
   box-shadow: 0 0 10px;
}
.container-graphical{
   border-radius: 1rem;
   gap: 1rem;
   border-radius: .5rem;
   box-shadow: inset 0 0 10px;
   padding: .5rem;
   grid-area: 1 / 1 / 2 / 2; 
}
@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard-graphics{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }
  .container-top10-current{ grid-area: 1 / 1 / 3 / 2; overflow: scroll;}
  .container-graph-of-value-variation{ grid-area: 1 / 2 / 2 / 3; }
  .containerCompareCoin { grid-area: 2 / 2 / 3 / 3; }
}
@media (min-width: 1025px){ 
  .dashboard-graphics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container-top10-current{ grid-area: 1 / 1 / 3 / 2; overflow: scroll;}
  .container-graph-of-value-variation{ grid-area: 1 / 2 / 2 / 3; }
  .containerCompareCoin { grid-area: 2 / 2 / 3 / 3; }
}
