.container-search{
   width: 100%;
   height: clamp(2rem, 50vw, 3rem);
   border-radius: .5rem;
   background: var(--bg-card);
   padding: .5rem;

}
.container-search input{
   width: 100%;
   height: 100%;
   background-color: transparent;
   border-radius: .5rem;
   padding: .5rem;
   font-size: clamp(.9rem, 1vw, 1.5rem);
}
.container-search button{
   border-radius: 1.5rem;
   width: 3.5rem;
   height: 100%;
   background: url(../../images/magnifying-glass-of-course.png.png) no-repeat center,
   var(--color-linear-gradient);
   background-size: 32px;
   cursor: pointer;
}