@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;500&display=swap");
@import url(styles/patterns.css);
@import url(styles/pageOn.css);
@import url(styles/components/search.css);
@import url(styles/components/deshboard.css);
@import url(styles/components/menu.css);
@import url(styles/components/card.css);
@import url(styles/components/containerGraphical.css);

:root {
  --bg-main: #0c1123;
  --bg-card: #182037;
  --text-primary: #e6e6e6;
  --font-default: "Inter", sans-serif;
  --color-linear-gradient: linear-gradient( #3e4b7a  0%, #6a2ef5 100%);
  --accent-emerald: #00ffa3; 
  --accent-ruby: #ff5f5f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--font-default);
  color: var(--text-primary);
}

*::-webkit-scrollbar {
  overflow: visible;
  width: 0px;
  background-color: transparent;
}

button, label { cursor: pointer;}

#app, body { background: var(--bg-main); width: 100%; min-height: 100dvh; overflow: hidden; }
